* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    width: 100%;
    height: 100%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-bottom: 20px;
}

canvas {
    width: 100% !important; /* Override default width */
    height: 100% !important; /* Override default height */
}

.chartjs-render-monitor {
    display: block;
    width: 100% !important;
    height: auto !important;
}

.legend {
    margin-top: 1px;
}
