/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #141B2D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo a img {
    display: block;
    width: 150px; 
    height: auto;
}

.header .logo .text {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.header .logo .text h1 {
    margin: 0 10px;
    font-weight: 400;
}

.header .logo .text h2 {
    margin: 0;
    font-size: 20px;
}

.header .date-time {
    margin-top: -5px;
    font-size: 10px;  /* Default font size for the date */
    font-weight: 500;
    text-align: right; /* Justify text to the left */
}

.header .time {
    font-size: 20px;  /* Increase font size for the time */
    font-weight: bold; /* Make time bold */
    color: #6DBF4C;
}

.header .date {
    font-size: 12px;  /* Keep the date smaller */
    font-weight: normal; /* Normal weight for the date */
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #232D37;
    color: #333;
}

/* Main dashboard layout */
.dashboard-container {
    display: grid;
    grid-template-columns: 2.2fr 3fr 3fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr;
    gap: 20px;
    padding: 20px;
    height: 92vh;
    overflow: hidden; /* Prevents overflow on smaller screens */
}

/* Left container for Assemblies Overview */
.left-container {
    grid-row: 1 / 4;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Cards container (center top) */
.cards-container {
    grid-column: 2 / 4;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3, .card p1 {
    font-size: 0.9rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.card p {
    font-size: 2rem;
    font-weight: bold;
}

.section-title {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    margin-top: -10px; /* Space between the title and iframe */
    margin-bottom: 5px;
    color: #141B2D;
}

/* Build Status section (center) */
.center-build-status {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px; /* Add padding for spacing around content */
}

.center-build-status iframe {
    width: 100%;
    height: 98%;
    border: 1px solid grey; /* Grey borderline around iframe */
    border-radius: 5px; /* Optional: smooth out the iframe borders */
}

/* Attendance Rate section (right-center) */
.right-attendance {
    grid-column: 3 / 4;
    grid-row: 2;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px; /* Add padding for spacing around content */
}

.right-attendance iframe {
    width: 100%;
    height: 97%;
    border: 1px solid grey; /* Grey borderline around iframe */
    border-radius: 5px; /* Optional: smooth out the iframe borders */
}

/* Available Manhours section (bottom-right) */
.right-bottom-manhours {
    grid-column: 3 / 4;
    grid-row: 3;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px; /* Add padding for spacing around content */
}

.right-bottom-manhours iframe {
    width: 100%;
    height: 97%;
    border: 1px solid grey; /* Grey borderline around iframe */
    border-radius: 5px; /* Optional: smooth out the iframe borders */
}

/* Modal styles */
.modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 20px; /* Space between title and content */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centered vertically and horizontally */
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px; /* Rounded corners */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%; /* Adjust the height as needed */
    max-width: auto; /* Optionally set a max width */
    max-height: 80%; /* Optionally set a max height */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
}

.modal-content .chart-container {
    flex: 1; /* Allow the chart container to grow and shrink */
    display: flex;
    flex-direction: column; /* Stack iframes vertically */
    justify-content: space-around; /* Distribute space evenly */
}

.modal-content iframe {
    width: 100%;
    flex: 1; /* Allow iframes to grow and shrink equally */
    border: none; /* Remove default iframe border */
    margin-bottom: 10px; /* Optional: space between charts */
}

.center-build-status, .right-attendance, .right-bottom-manhours {
    position: relative; /* Set relative positioning for the parent */
}

.maximize-icon {
    position: absolute; /* Keep absolute positioning */
    top: 10px; /* Adjust as needed */
    right: 15px; /* Adjust as needed */
    cursor: pointer;
    width: 17px; /* Set the width */
    height: 17px; /* Set the height */
    object-fit: contain; /* Maintain aspect ratio */
}

.maximize-icon::after {
    content: attr(title);
    position: absolute;
    top: -5px;
    left: 105%;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.maximize-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Resetting the default tooltip */
.maximize-icon[title]:hover::after {
    display: none;
}

#buildStatusModal .modal-content{
    display: flex;
    justify-content: center; /* Horizontally center the iframe */
    align-items: center; /* Vertically center the iframe */
    height: 100%; /* Ensure the modal content takes up the full height */
}

#attendanceRateModal .modal-content iframe {
    /*margin-right: 220px;*/
    height: 100%; /* Ensure the modal content takes up the full height */
}

#availableManhoursModal .modal-content iframe {
    /*margin-right: 160px;*/
    height: 97%; /* Ensure the modal content takes up the full height */
}

#buildStatusModal .modal-content iframe {
    height: 85%; /* Adjust iframe height */
    width: 85%; /* Adjust iframe width */
    border: none; /* Remove any default borders */
}




/* Responsive layout for smaller screens */
@media screen and (max-width: 1300px) {
    .dashboard-container{
        height: 100vh;
        grid-template-columns: 2.2fr 3fr 3fr;
        grid-template-rows: 0.1fr 1.5fr 1.5fr;
    }

    
    
    .left-container {
        height: 100%;
        width: 100%;
    }
    
    .left-container iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
    
    /* Cards container (center top) */
    .cards-container {
        grid-column: 2 / 4;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }
    
    .card {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        color: black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .card h3, .card p1 {
        font-size: 0.4rem;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    .card p {
        font-size: 1rem;
        font-weight: bold;
    }
    
    .section-title {
        text-align: left;
        font-size: 1rem;
        font-weight: bold;
        margin-top: -10px; /* Space between the title and iframe */
        margin-bottom: 5px;
        color: #141B2D;
    }
    
    /* Build Status section (center) */
    .center-build-status {
        grid-column: 2 / 3;
        grid-row: 2 / 4;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 20px; /* Add padding for spacing around content */
    }
    
    .center-build-status iframe {
        width: 100%;
        height: 98%;
        border: 1px solid grey; /* Grey borderline around iframe */
        border-radius: 5px; /* Optional: smooth out the iframe borders */
    }
    
    /* Attendance Rate section (right-center) */
    .right-attendance {
        grid-column: 3 / 4;
        grid-row: 2;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 20px; /* Add padding for spacing around content */
    }
    
    .right-attendance iframe {
        width: 100%;
        height: 97%;
        border: 1px solid grey; /* Grey borderline around iframe */
        border-radius: 5px; /* Optional: smooth out the iframe borders */
    }
    
    /* Available Manhours section (bottom-right) */
    .right-bottom-manhours {
        grid-column: 3 / 4;
        grid-row: 3;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        padding: 20px; /* Add padding for spacing around content */
    }
    
    .right-bottom-manhours iframe {
        width: 100%;
        height: 97%;
        border: 1px solid grey; /* Grey borderline around iframe */
        border-radius: 5px; /* Optional: smooth out the iframe borders */
    }
    
}

@media screen and (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        height: auto;
    }

    .left-container{
        height: 400px; /* Adjust height for smaller screens */
    }

    .center-build-status,
    .right-attendance,
    .right-bottom-manhours {
        height: 250px; /* Adjust height for smaller screens */
    }

    .cards-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .card {
        padding: 10px;
        font-size: 0.9rem;
    }

    .card h3 {
        font-size: 0.9rem;
    }

    .card p {
        font-size: 1.2rem;
    }

    iframe {
        height: 100%;
    }
}
