/* Existing styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #141B2D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo a img {
    display: block;
    width: 150px; 
    height: auto;
}

.header .logo .text {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.header .logo .text h1 {
    margin: 0 10px;
    font-weight: 400;
}

.header .logo .text h2 {
    margin: 0;
    font-size: 20px;
}

.header .date-time {
    font-size: 20px;
    font-weight: 500;
}

body {
    min-height: 100vh;
    background-color: #232D37;
}

.main-container {
    display: flex;
    flex-direction: row-reverse; /* Reversed the order to place right-container first */
    justify-content: flex-start;
}

.left-container, .right-container {
    flex: 1;
}

.container {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    position: relative;
    margin: 20px;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.card {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    text-align: center;
    border: 1px solid white; 
    border-radius: 5px;
    background-color: white;
    overflow: hidden; /* Hide any overflow */
}

.card .info {
    flex: 1;
    margin-right: 20px; /* Space between text and iframe */
    margin-left: 20px;
}

.performance-percentage,
.quality-percentage,
.availability-percentage {
    margin-top: 40px;
    font-size: 35px; /* Set font size */
    font-weight: bold; /* Optional: make the font bold */
    color: #000000; /* Optional: set the text color */
}

.card iframe {
    width: 100%; /* Adjust width to fit the card */
    height: 200px; /* Adjust height as needed */
    border: none;
}

.container-history {
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    position: relative;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-history {
    display: flex;
    justify-content: center; /* Center the iframe */
    align-items: center; /* Center the iframe */
    text-align: center;
    border: 1px solid white; 
    border-radius: 5px;
    background-color: white;
    overflow: hidden; /* Hide any overflow */
    height: 100%; /* Make sure it takes full height of the container */
    width: 100%; /* Make sure it takes full width of the container */
}

.card-history iframe {
    width: 100%; /* Make the iframe take full width of the card */
    height: 835px; /* Make the iframe take full height of the card */
    border: none; /* Remove default iframe border */
}

/* New styles for operations-today card */
.operations-today {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.operations-today .box {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: 1px solid #ccc;
}

.operations-today .main-box {
    background-color: green;
    color: white;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    display: flex;
    border-radius: 5px;
    padding-left: 20px; /* Add padding to move text away from the left edge */
    position: relative;
}

.operations-today .main-box .box-title {
    font-size: 45px;
}

.operations-today .box:last-child {
    border-right: none;
}

.operations-today .box-title {
    font-size: 16px;
    font-weight: bold;
}

.today-text {
    color: #d3d3d3;
}

.operations-today .box-data {
    font-size: 30px;
    font-weight: bold;
}