* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #232D37;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #141B2D;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .logo {
    display: flex;
    align-items: center;
}

.header .logo a img {
    display: block;
    width: 150px; 
    height: auto;
}

.header .logo .text {
    display: flex;
    align-items: center;
    margin-left: 10px; 
}

.header .logo .text h1 {
    margin: 0 10px;
    font-weight: 400;
}

.header .logo .text h2 {
    margin: 0;
    font-size: 20px;
}

.header .date-time {
    margin-top: -5px;
    font-size: 10px; 
    font-weight: 500;
    text-align: right; /* Justify text to the left */
}

.header .time {
    font-size: 20px;
    font-weight: bold;
    color: #6DBF4C;
}

.header .date {
    font-size: 12px;
    font-weight: normal;
}

h1, h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.custom-link {
    color: gray;  /* Set hyperlink color to gray */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Smooth transition on hover */
}

.custom-link:hover {
    color: white;  /* Change hyperlink color to white when hovered */
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px;
    gap: 20px;
}

.container {
    background-color: transparent;
    position: relative;
    margin-top: 20px;
}

.container-history {
    background-color: transparent;
}

/* Styles for operations-today card */
.card-operations{
    height: 120px;
    display: flex;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white; 
    background-color: white;
    overflow: hidden;
}

.operations-today {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.operations-today .box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ccc;
}

.operations-today .main-box {
    background-color: green;
    color: white;
    align-items: flex-start;
    padding-left: 10px;
    border-radius: 5px;
}

.operations-today .main-box .box-title {
    font-size: 40px;
}

.operations-today .box:last-child {
    border-right: none;
}

.operations-today .box-title {
    font-size: 16px;
    font-weight: bold;
}

.today-text {
    color: #d3d3d3;
}

.operations-today .box-data {
    font-size: 30px;
    font-weight: bold;
}

/* Chart card styles */
.card {
    height: 220px;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white; 
    background-color: white;
    overflow: hidden;
}

.card .maximize-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.card .info {
    margin: 10px;
}

.performance-percentage,
.quality-percentage,
.availability-percentage {
    font-size: 50px;
    font-weight: bold;
}

.card iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Alert History card styles */
.card-history {
    height: 840px;
    position: relative;
    border-radius: 5px;
    border: 1px solid white; 
    background-color: white;
    overflow: hidden;
}

.card-history .maximize-icon {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 5px; /* Adjust as needed */
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.card-history iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* Modal styles */
.modal-title {
    text-align: center;
    font-weight: bold;
    font-size: 24px; /* Adjust font size as needed */
    margin-bottom: 20px; /* Space between title and content */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* Centered vertically and horizontally */
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px; /* Rounded corners */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 80%; /* Adjust the height as needed */
    max-width: auto; /* Optionally set a max width */
    max-height: 80%; /* Optionally set a max height */
    display: flex;
    flex-direction: column; /* Stack children vertically */
}

.close {
    color: #aaa;
    align-self: flex-end;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
}

.modal-content .chart-container {
    flex: 1; /* Allow the chart container to grow and shrink */
    display: flex;
    flex-direction: column; /* Stack iframes vertically */
    justify-content: space-around; /* Distribute space evenly */
}

.modal-content iframe {
    width: 100%;
    flex: 1; /* Allow iframes to grow and shrink equally */
    border: none; /* Remove default iframe border */
    margin-bottom: 10px; /* Optional: space between charts */
}

/* Tooltip styling */
.maximize-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.maximize-icon::after {
    content: attr(title);
    position: absolute;
    top: -5px;
    left: 105%;
    background-color: black;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
}

.maximize-icon:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Resetting the default tooltip */
.maximize-icon[title]:hover::after {
    display: none;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr; /* Stack columns */
        max-width: 100%;
    }

    .header .logo img {
        width: 100px; /* Adjust logo size */
    }

    .header .date-time {
        font-size: 8px; /* Smaller font size */
    }

    .card-operations {
        width: 100%;
        height: auto;
    }

    .card {
        width: 100%;
        padding: 10px; /* Reduced padding */
    }

    .operations-today {
        flex-direction: column; /* Stack boxes vertically */
    }

    .operations-today .box {
        border-right: none; /* Remove right border */
        border-bottom: 1px solid #ccc; /* Add bottom border */
    }

    .operations-today .box:last-child {
        border-bottom: none; 
    }

    .card iframe {
        height: auto;
    }

    .card-history {
        width: auto;
        height: auto;
    }

    .modal-content {
        width: 90%; /* Use more width for modals */
        height: 90%; /* Allow height to adjust */
    }
}

@media (max-width: 480px) {
    .main-container {
        grid-template-columns: 1fr; /* Stack columns */
        max-width: 100%;
    }

    .header .logo img {
        width: 100px; /* Adjust logo size */
    }

    .header .date-time {
        font-size: 8px; /* Smaller font size */
    }

    .card-operations {
        width: 100%;
        height: auto;
    }

    .card {
        width: 100%;
        padding: 10px; /* Reduced padding */
    }

    .operations-today {
        flex-direction: column; /* Stack boxes vertically */
    }

    .operations-today .box {
        border-right: none; /* Remove right border */
        border-bottom: 1px solid #ccc; /* Add bottom border */
    }

    .operations-today .box:last-child {
        border-bottom: none; 
    }

    .card iframe {
        height: auto;
    }

    .card-history {
        width: auto;
        height: auto;
    }

    .modal-content {
        width: 90%; /* Use more width for modals */
        height: 90%; /* Allow height to adjust */
    }
}